:root {
  --primary: #FAD02C;
  --secondary: #90ADC6;
  --dark: #333652;
  --light: #E9EAEC;
}
#emailforms{

  text-align: left;
  border-style:none;
  color:#FAD02C;
  background-color: #333652;
  border-radius: 5px;
  margin-top: 20px;
  margin-left:10px;
  margin-right:10px;
  padding:20px;
}
.p{
  color:#FAD02C;
}
.Button{
  display: inline-block;
  --bs-btn-padding-x:18rem;
  --bs-btn-padding-y:0.4rem;
  color:#FAD02C;
  padding: 0.4rem;
}
.message_success{
  color:#FAD02C;
}