#emailforms{
  text-align: left;
  border-style:solid;
  color:#333652;
  background-color: #90ADC6;
  border-radius: 5px;
  margin-top: 20px;
  padding:20px;
 
}
.p{
  color:#FAD02C;
}
.Button{
  display: inline-block;
  --bs-btn-padding-x:18rem;
  --bs-btn-padding-y:0.4rem;
  
  padding: 0.4rem;
}
.message_success{
  color:#FAD02C;
}